<div class="container">
  <article>
    <div class="download-header">
      <h1>Downloads</h1>
    </div>
    <section>
      <p class="color-lightgray">
        Latest LTS Version: <strong>16.17.1</strong> (includes npm 8.15.0)
      </p>
      <p>
        Download the Node.js source code or a pre-built installer for your
        platform, and start developing today.
      </p>
      <div class="download-hero full-width">
        <ul class="no-padding download-version-toggle">
          <li>
            <a></a>
          </li>
        </ul>
      </div>
      <div class="download-matrix full-width"></div>
    </section>
  </article>
</div>
