h1, h2{
    font-weight: 400;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a {
    color: #43853d;
    text-decoration: none;
    border-radius: 5px;
    word-break: break-word;
}