<h1 id="header-project-governance">
  Project Governance<a
    id="project-governance"
    class="anchor"
    href="#project-governance"
    aria-labelledby="header-project-governance"
  ></a>
</h1>
<h2 id="header-consensus-seeking-process">
  Consensus Seeking Process<a
    id="consensus-seeking-process"
    class="anchor"
    href="#consensus-seeking-process"
    aria-labelledby="header-consensus-seeking-process"
  ></a>
</h2>
<p>
  The Node.js project follows a
  <a href="https://en.wikipedia.org/wiki/Consensus-seeking_decision-making"
    >Consensus Seeking</a
  >
  decision making model.
</p>
<h2 id="header-collaborators">
  Collaborators<a
    id="collaborators"
    class="anchor"
    href="#collaborators"
    aria-labelledby="header-collaborators"
  ></a>
</h2>
<p>
  The <a href="https://github.com/nodejs/node">nodejs/node</a> core GitHub
  repository is maintained by the Collaborators who are added by the Technical
  Steering Committee (<a href="https://github.com/nodejs/TSC">TSC</a>) on an
  ongoing basis.
</p>
<p>
  Individuals making significant and valuable contributions are made
  Collaborators and given commit-access to the project. These individuals are
  identified by the TSC and their nomination is discussed with the existing
  Collaborators.
</p>
<p>
  For the current list of Collaborators, see the project's
  <a
    href="https://github.com/nodejs/node/blob/main/README.md#current-project-team-members"
    >README.md</a
  >.
</p>
<p>
  A guide for Collaborators is maintained at
  <a
    href="https://github.com/nodejs/node/blob/main/doc/contributing/collaborator-guide.md"
    >collaborator-guide.md</a
  >.
</p>
<h2 id="header-top-level-committees">
  Top Level Committees<a
    id="top-level-committees"
    class="anchor"
    href="#top-level-committees"
    aria-labelledby="header-top-level-committees"
  ></a>
</h2>
<p>
  The project is governed jointly by the
  <a href="https://github.com/nodejs/TSC/blob/master/TSC-Charter.md"
    >Technical Steering Committee (TSC)</a
  >
  which is responsible for high-level guidance of the project, and the
  <a
    href="https://github.com/nodejs/community-committee/blob/master/Community-Committee-Charter.md"
    >Community Committee (CommComm)</a
  >
  which is responsible for guiding and extending the Node.js community.
</p>
