<div class="home-downloadblock">
  <a class="home-downloadbutton" [routerLink]="">
    {{ mainContent }}
    <small>{{ secondaryContent }}</small>
  </a>
  <ul class="list-divider-pipe home-secondary-links">
    <li>
      <a href="/en/download/">Other Downloads</a>
    </li>
    <li>
      <a
        href="https://github.com/nodejs/node/blob/main/doc/changelogs/CHANGELOG_V16.md#16.17.1"
        >Changelog</a
      >
    </li>
    <li>
      <a href="https://nodejs.org/dist/latest-v16.x/docs/api/">API Docs</a>
    </li>
  </ul>
</div>
