<div class="container">
  <div class="home-intro">
    <p>
      Node.js® is an open-source, cross-platform JavaScript runtime environment.
    </p>
    <h2>Download for Windows (x64)</h2>
    <app-link-button
      [mainContent]="'16.17.1 LTS'"
      [secondaryContent]="'Recommended For Most Users'"
    ></app-link-button>
    <app-link-button
      [mainContent]="'18.10.0 Current'"
      [secondaryContent]="'Latest Features'"
    ></app-link-button>
    <p>
      Or have a look at the
      <a href="https://github.com/nodejs/release#release-schedule"
        >Long Term Support (LTS) schedule</a
      >
    </p>
  </div>
</div>
